<!-- <p>
  shipment-info works!
</p> -->
<div class="row">
    <div class="col-md-12">

        <p-dataTable [value]="shipmentInfos" [rows]="10" expandableRows="true" [paginator]="true" [responsive]="true" selectionMode="single"
            [(selection)]="selectedShipmentInfo">
            <p-header>
                <b>Shipment Information</b>
            </p-header>
            <p-column expander="true" styleClass="col-icon" [style]="{'width': '30px'}"></p-column>
            <p-column field="id" header="ID" [sortable]="true" [style]="{'width': '3%'}"></p-column>
            <p-column field="shipmentId" header="Shipment ID" [sortable]="true" [style]="{'width': '10%'}"></p-column>
            <p-column field="fnsku" header="FNSKU" [sortable]="true"></p-column>
            <p-column field="sku" header="SKU" [sortable]="true"></p-column>
            <p-column field="shipmentDate" header="Shipment Date" [sortable]="true">
                <ng-template let-row="rowData" pTemplate="body">
                  {{row.shipmentDate | date}}
                </ng-template>
            </p-column>
            <p-column field="skuAssignedDate" header="SKU Assigned Date" [sortable]="true">
                <ng-template let-row="rowData" pTemplate="body">
                  {{row.skuAssignedDate | date}}
                </ng-template>
            </p-column>

             <p-column field="product" header="Product" [sortable]="false" [filter]="false" [style]="{'width': '100px'}">
                <ng-template let-row="rowData" pTemplate type="body">
                    <span class="fa fa-search fa-15" (click)="routeToProduct(row)">
                        <span class="sr-only">Products</span>
                    </span>
                </ng-template>
            </p-column>

            <ng-template let-shipment pTemplate="rowexpansion">
                <div class="p-grid p-dir-col">
                    <!-- <div class="p-col p-col-align-start"><b>Notes: </b>{{ shipment.notes }}</div> -->
      
                    <div class="p-col p-col-align-start"><b>Record created date: </b>{{ shipment.createdDate | date }}</div>
                    <div class="p-col p-col-align-start"><b>Record created by: </b>{{ shipment.createdBy }}</div>
                    <div class="p-col p-col-align-start"><b>Record last updated: </b>{{ shipment.updatedDate | date }}</div>
                    <div class="p-col p-col-align-start"><b>Record last updated by: </b>{{ shipment.updatedBy }}</div>                
                </div>
            </ng-template>

        </p-dataTable>
        <!-- <div class="row">
            <button type="button" class="btn btn-primary btn-sm pull-right" style="margin-right:0px; margin-top:5px; margin-bottom:5px"
                (click)="addAuthor()">Add Author</button>
        </div> -->
    </div>
</div>
