<!-- <p>
  contact-info works!
</p> -->
<div class="row">
    <div class="col-md-12">

        <p-dataTable [value]="contactInfos" [rows]="10" expandableRows="true" [paginator]="true" [responsive]="true" selectionMode="single"
            [(selection)]="selectedContactInfo">
            <p-header>
                <b>Contact Information</b>
            </p-header>
            <p-column expander="true" styleClass="col-icon" [style]="{'width': '30px'}"></p-column>
            <p-column field="id" header="ID" [sortable]="true" [style]="{'width': '3%'}"></p-column>
            <!-- <p-column field="company.id" header="Company ID" [sortable]="true" [style]="{'width': '10%'}"></p-column> -->
            <p-column field="email" header="Email" [sortable]="true"></p-column>
            <p-column field="contactDate" header="Contact Date" [sortable]="true">
              <ng-template let-row="rowData" pTemplate="body">
                {{row.contactDate | date}}
              </ng-template>
            </p-column>
            <p-column field="name" header="Name" [sortable]="true"></p-column>
            <p-column field="phone1" header="Phone1" [sortable]="true"></p-column>
            <p-column field="phone2" header="Phone2" [sortable]="true"></p-column>
            <p-column field="address1" header="Address1" [sortable]="true"></p-column>
            <p-column field="address2" header="Address2" [sortable]="true"></p-column>
            <p-column field="city" header="City" [sortable]="true"></p-column>
            <p-column field="stateOrProvince" header="State/Province" [sortable]="true"></p-column>
            <p-column field="postalCode" header="Postal Code" [sortable]="true"></p-column>
            <p-column field="country" header="Country" [sortable]="true"></p-column>
            <!-- <p-column field="notes" header="Notes" [sortable]="true"></p-column> -->
            <ng-template let-contactinfo pTemplate="rowexpansion">
                <div class="p-grid p-dir-col">
                    <div class="p-col p-col-align-start"><b>Notes: </b>{{ contactinfo.notes }}</div>
      
                    <div class="p-col p-col-align-start"><b>Record created date: </b>{{ contactinfo.createdDate | date }}</div>
                    <div class="p-col p-col-align-start"><b>Record created by: </b>{{ contactinfo.createdBy }}</div>
                    <div class="p-col p-col-align-start"><b>Record last updated: </b>{{ contactinfo.updatedDate | date }}</div>
                    <div class="p-col p-col-align-start"><b>Record last updated by: </b>{{ contactinfo.updatedBy }}</div>                
                </div>
            </ng-template>

             <p-column field="contactInfos" header="Products" [sortable]="false" [filter]="false" [style]="{'width': '100px'}">
                <ng-template let-row="rowData" pTemplate type="body">
                    <span class="fa fa-search fa-15" (click)="routeToProducts(row)">
                        <span class="sr-only">Product</span>
                    </span>
                </ng-template>
            </p-column>

        </p-dataTable>
        <!-- <div class="row">
            <button type="button" class="btn btn-primary btn-sm pull-right" style="margin-right:0px; margin-top:5px; margin-bottom:5px"
                (click)="addAuthor()">Add Author</button>
        </div> -->
    </div>
</div>
<!-- {{ product.createdDate | date }} -->
<!-- selectedContactInfo: ContactInfo = {
  id: null,
  email: '',
  contactDate: null,
  notes: '',
  product: null,
  createdBy: '',
  createdDate: null,
  updatedBy: '',
  updatedDate: null
}; -->
