<!-- <p>
  contact-info works!
</p> -->
<div class="row">
    <div class="col-md-12">

        <p-dataTable [value]="contactInfos" [rows]="10" expandableRows="true" [paginator]="true" [responsive]="true" selectionMode="single"
            [(selection)]="selectedContactInfo">
            <p-header>
                <b>Contact Information</b>
            </p-header>
            <!-- <p-column expander="true" styleClass="col-icon" [style]="{'width': '30px'}"></p-column> -->
            <p-column field="id" header="ID" [sortable]="true" [style]="{'width': '3%'}"></p-column>
            <!-- <p-column field="company.id" header="Company ID" [sortable]="true" [style]="{'width': '10%'}"></p-column> -->
            <p-column field="email" header="Email" [sortable]="true"></p-column>
            <p-column field="contactDate" header="Contact Date" [sortable]="true">
              <ng-template let-row="rowData" pTemplate="body">
                {{row.contactDate | date}}
              </ng-template>
            </p-column>
            <p-column field="notes" header="Notes" [sortable]="true"></p-column>

             <!-- <p-column field="contactInfos" header="Product" [sortable]="false" [filter]="false" [style]="{'width': '100px'}">
                <ng-template let-row="rowData" pTemplate type="body">
                    <span class="fa fa-search fa-15" (click)="routeToProduct(row)">
                        <span class="sr-only">Product</span>
                    </span>
                </ng-template>
            </p-column> -->

        </p-dataTable>
        <!-- <div class="row">
            <button type="button" class="btn btn-primary btn-sm pull-right" style="margin-right:0px; margin-top:5px; margin-bottom:5px"
                (click)="addAuthor()">Add Author</button>
        </div> -->
    </div>
</div>
<!-- {{ product.createdDate | date }} -->
<!-- selectedContactInfo: ContactInfo = {
  id: null,
  email: '',
  contactDate: null,
  notes: '',
  product: null,
  createdBy: '',
  createdDate: null,
  updatedBy: '',
  updatedDate: null
}; -->
