<!-- <p>
  company works!
</p> -->
<div class="row">
    <div class="col-md-12">

        <p-dataTable [value]="companys" [rows]="10" expandableRows="true" [paginator]="true" [responsive]="true" selectionMode="single"
            [(selection)]="selectedCompany">
            <p-header>
                <b>Companies</b>
            </p-header>
            <p-column expander="true" styleClass="col-icon" [style]="{'width': '30px'}"></p-column>
            <p-column field="id" header="ID" [sortable]="true" [style]="{'width': '3%'}"></p-column>
            <!-- <p-column field="company.id" header="Company ID" [sortable]="true" [style]="{'width': '10%'}"></p-column> -->
            <p-column field="email" header="Email" [sortable]="true"></p-column>
            <p-column field="companyName" header="Company Name" [sortable]="true"></p-column>
            <p-column field="webSite" header="Web Site" [sortable]="true"></p-column>
            <p-column field="phone" header="Phone" [sortable]="true"></p-column>
            <!-- <p-column field="notes" header="Notes" [sortable]="true"></p-column> -->

             <p-column field="products" header="Products" [sortable]="false" [filter]="false" [style]="{'width': '100px'}">
                <ng-template let-row="rowData" pTemplate type="body">
                    <span class="fa fa-search fa-15" (click)="routeToProducts(row)">
                        <span class="sr-only">View Our Products</span>
                    </span>
                </ng-template>
            </p-column>
            <ng-template let-company pTemplate="rowexpansion">
                    <div class="p-grid p-dir-col">
                        <div class="p-col p-col-align-start"><b>Notes: </b>{{ company.notes }}</div>
          
                        <div class="p-col p-col-align-start"><b>Record created date: </b>{{ company.createdDate | date }}</div>
                        <div class="p-col p-col-align-start"><b>Record created by: </b>{{ company.createdBy }}</div>
                        <div class="p-col p-col-align-start"><b>Record last updated: </b>{{ company.updatedDate | date }}</div>
                        <div class="p-col p-col-align-start"><b>Record last updated by: </b>{{ company.updatedBy }}</div>                
                    </div>
            </ng-template>

        </p-dataTable>
        <!-- <div class="row">
            <button type="button" class="btn btn-primary btn-sm pull-right" style="margin-right:0px; margin-top:5px; margin-bottom:5px"
                (click)="addAuthor()">Add Author</button>
        </div> -->
    </div>
</div>
