<!-- <p>
  check-point-criteria works!
</p>
<ul *ngFor="let checkpointCriteria of checkpointCriterias">
    <li>ID: {{ checkpointCriteria.id }}</li>
    <li>NAME: {{ checkpointCriteria.criteriaName }}</li>
    <li>POINTS: {{ checkpointCriteria.points }}</li>
</ul> -->

<div class="row">
    <div class="col-md-12">

        <p-dataTable [value]="checkpointCriterias" [rows]="20" expandableRows="false" [paginator]="true" [responsive]="true" selectionMode="single"
            [(selection)]="selectedCheckPointCriteria">
            <p-header>
                <b>Check Point Criteria</b>
            </p-header>
            <!-- <p-column expander="true" styleClass="col-icon" [style]="{'width': '30px'}"></p-column> -->
            <p-column field="id" header="ID" [sortable]="true" [style]="{'width': '3%'}"></p-column>
            <p-column field="criteriaName" header="CriteriaName" [sortable]="true" [style]="{'width': '92%'}"></p-column>
            <p-column field="points" header="Points" [sortable]="true"></p-column>
            <!-- <p-column field="books" header="Actions" [sortable]="false" [filter]="false" [style]="{'width': '100px'}">
                <ng-template let-row="rowData" pTemplate type="body">
                    <span class="fa fa-search fa-15" (click)="routeToAuthor(row)">
                        <span class="sr-only">View</span>
                    </span>
                </ng-template>
            </p-column> -->

            <!-- <ng-template let-author pTemplate="rowexpansion">
                <div class="ui-g">
                    <div class="uig-12 ui-md-6"><b>Record created date: </b>{{ author.createdDate | date }}</div>
                    <div class="uig-12 ui-md-6"><b>Record created by: </b>{{ author.createdBy }}</div>
                    <div class="uig-12 ui-md-6"><b>Record last updated: </b>{{ author.updatedDate | date }}</div>
                    <div class="uig-12 ui-md-6"><b>Record last updated by: </b>{{ author.updatedBy }}</div>                   
                </div>
            </ng-template> -->

        </p-dataTable>
        <!-- <div class="row">
            <button type="button" class="btn btn-primary btn-sm pull-right" style="margin-right:0px; margin-top:5px; margin-bottom:5px"
                (click)="addAuthor()">Add Author</button>
        </div> -->
    </div>
</div>